/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/




.fl-page-bar .fl-page-bar-row .text-right ul li a{
    font-weight: bold;
    letter-spacing: 1px;
}
.fl-page-bar .fl-page-bar-row .text-right ul li:nth-child(2){
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    margin: 0 3px;
    padding: 0 3px;
}
.fl-page-bar .fl-page-bar-row .text-right ul li:nth-child(2) a{
    position: relative;
    padding-left: 24px;
}
.fl-page-bar .fl-page-bar-row .text-right ul li:nth-child(2) a:before{
    content: "\ea32";
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: 0px;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gallery-boxes-section .fl-module-info-banner .uabb-ultb3-info{
	background-color:#fff;
    max-width: 80%;
    margin:0 auto;
}
.gallery-boxes-section .fl-module-info-banner .uabb-ultb3-info .uabb-button .uabb-button-text{
    display: none;
}
/*.gallery-boxes-section.uabb-button-text{
    display: none;
}*/
.gallery-boxes-section .fl-module-info-banner .uabb-ultb3-info .uabb-button .uabb-button-text{
    border-radius:2px;
    border: 2px solid #dc4439
}

.gallery-boxes-section .fl-module-info-banner .uabb-ultb3-info .uabb-button .uabb-button-icon{
    margin-right: 0;   
}
.gallery-boxes-section.fl-module-info-banner .uabb-ultb3-info .uabb-button{
    position: absolute;
    border-radius: 2px;
    left:120px;
    
}
.gallery-boxes-section .fl-module-info-banner.gallery-american  a.uabb-button {
    position: static;
    margin-top: 30px;
}
/*.gallery-american .uabb-creative-button-wrap a, .gallery-american .uabb-creative-button-wrap a:visited {
    border: 2px solid #dc4439;
}

*/
.gallery-boxes-section .fl-module-info-banner .uabb-ultb3-info .uabb-button{
border: 2px solid #dc4439;
}
.gallery-boxes-section .fl-module-info-banner.gallery-hardwood  a.uabb-button{
    position: static;
    margin-top: 30px;
}
.gallery-boxes-section .gallery-american .uabb-ultb3-align-center{
width: 53%;
}
.gallery-boxes-section .gallery-hardwood .uabb-ultb3-align-center{
    width: 53%;
} 
.fl-module-info-banner div.uabb-creative-button-wrap a.uabb-button:hover{
    border: 2px solid #dc4439 !important;
    background: #FFF !important;
}

.fl-builder-content .fl-module-info-banner div.uabb-creative-button-wrap a.uabb-button:hover i{
    color: #dc4439 !important;
}
.fl-module-info-banner div.uabb-info-banner a.uabb-ultb3-title:hover{
    color: #dc4439 !important;
}

.product-category-slider  .fl-slide-title{
    text-align: center;
    margin-top: 14px;
}
.product-category-slider  .fl-slide-cta-button{
    text-align: center;
}
.product-category-slider .fl-slide-text{
    text-align: left;
    
}
.rech-button1, .almond-button1, .masonry-button1, .board-walk-button1, .sugar-cookie-button1
{
    background: #dc4439;
    padding: 0.8em 2.6em;
    color: #FFF;
    font-family: 'open_sansbold', sans-serif;
    border: 2px solid #dc4439;
    font-weight: 100;
    margin-top: 3em;
    display: inline-block;
}
/*.almond-button1{
    background: #dc4439;
    padding: 0.8em 2.6em;
    color: #FFF;
    font-family: 'open_sansbold', sans-serif;
    border: 2px solid #dc4439;
    font-weight: 100;
    margin-top: 3em;
    display: inline-block;
}
.masonry-button1{
    background: #dc4439;
    padding: 0.8em 2.6em;
    color: #FFF;
    font-family: 'open_sansbold', sans-serif;
    border: 2px solid #dc4439;
    font-weight: 100;
    margin-top: 3em;
    display: inline-block;
}
.board-walk-button1{
    
        background: #dc4439;
        padding: 0.8em 2.6em;
        color: #FFF;
        font-family: 'open_sansbold', sans-serif;
        border: 2px solid #dc4439;
        font-weight: 100;
        margin-top: 3em;
        display: inline-block;
}
.sugar-cookie-button1{
    background: #dc4439;
    padding: 0.8em 2.6em;
    color: #FFF;
    font-family: 'open_sansbold', sans-serif;
    border: 2px solid #dc4439;
    font-weight: 100;
    margin-top: 3em;
    display: inline-block;
}*/
.carpet-san-info .uabb-module-content .uabb-ultb3-info{
    background-color: #333;
    max-width: 50%;
    margin: 0 auto;
     font-family: 'roboto_slabthin';
     text-align: center;
}